{% extends "main.html" %}

{% block title %}{{ object.username }}{% endblock %}

{% block content %}
<h2>{{ object.username }}</h2>
<table>
  <tr>
	<th>Name</th>
	<td>{{ object.first_name|title }} {{ object.last_name|title }}</td>
  </tr>
  <tr>
	<th>Joined</th>
	<td>{{ object.date_joined }}</td>
  </tr>
</table>
<h3>Owned Ideas</h3>
{% with object.get_profile.owned_ideas.all as object_list %}
{% include 'main/idea_table.html' %}
{% endwith %}
<p><a href="{% url idea_create %}">Create Idea</a></p>
<h3>Joined Ideas</h3>
{% with object.get_profle.joined_ideas.all as object_list %}
{% include 'main/idea_table.html' %}
{% endwith %}
{% endblock %}
