{% if object_list %}
<table>
  <tr>
	<th>username</th>
	<th>first_name</th>
	<th>last_name</th>
	<th>Created Ideas</th>
	<th>Joined Ideas</th>
	<th>Followers</th>
  </tr>
  {% for user in object_list %}
  <tr>
	<td>{{ user.username }}</td>
	<td>{{ user.first_name }}</td>
	<td>{{ user.last_name }}</td>
	<td>{{ user.get_profile.owned_idea_count }}</td>
	<td>{{ user.get_profile.joined_idea_count }}</td>
	<td>{{ user.get_profile.followers }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>{{ emptymessage|default:'No Users' }}</p>
{% endif %}
