{% extends "main.html" %}

{% block title %}{{ object.username }}{% endblock %}

{% block content %}
<h2>{{ object.username }}</h2>
{% if form %}
<form action="{% url user_update object.pk %}" method="post">
  <table>
	{{ form.as_table }}
  </table>
  {% csrf_token %}
  <input type="submit" value="Update User">
</form>
{% else %}
<table>
  <tr>
	<th>Name</th>
	<td>{{ object.first_name|title }} {{ object.last_name|title }}</td>
  </tr>
  <tr>
	<th>Joined</th>
	<td>{{ object.date_joined }}</td>
  </tr>
</table>
{% endif %}
<h3>Owned Ideas: {{ object.get_profile.owned_idea_count }}</h3>
{% with object.get_profile.owned_ideas.all as object_list %}
{% include 'main/idea_table.html' %}
{% endwith %}
<p>Followers: {{ object.get_profile.followers }}</p>
<p><a href="{% url idea_create %}">Create Idea</a></p>
<h3>Joined Ideas: {{ object.get_profile.joined_idea_count }}</h3>
{% with object.get_profile.joined_ideas.all as object_list %}
{% include 'main/idea_table.html' %}
{% endwith %}
{% endblock %}
