{% if object_list %}
<table>
  <tr>
	<th>pk</th>
	<th>username</th>
	<th>first_name</th>
	<th>last_name</th>
	<th>email</th>
	<th>is_staff</th>
	<th>is_active</th>
	<th>is_superuser</th>
	<th>last_login</th>
	<th>date_joined</th>
  </tr>
  {% for user in object_list %}
  <tr>
	<td>{{ user.pk }}</td>
	<td>{{ user.username }}</td>
	<td>{{ user.first_name }}</td>
	<td>{{ user.last_name }}</td>
	<td>{{ user.email }}</td>
	<td>{{ user.is_staff }}</td>
	<td>{{ user.is_active }}</td>
	<td>{{ user.is_superuser }}</td>
	<td>{{ user.last_login }}</td>
	<td>{{ user.date_joined }}</td>
	<form method="post" action="{% %}">
	  <input type="submit" value="Do it!" />
	</form>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>{{ emptymessage|default:'No Users' }}</p>
{% endif %}
