/* Useful tools:
 *	- Gradient Maker: http://tools.dynamicdrive.com/gradient/
 *	- Free Icons: http://icons.mysitemyway.com/
 */
 
/* YOU CAN CHANGE:
 *	- the font (possibly font-size and padding-top to adjust for different font sizes)
 *		- this includes color and text-decoration
 *	- background images (replace with a 48 by 48 px icon)
 * DON'T CHANGE:
 *	- positioning stuff (height, width, float) unless you know what you're doing.
 */
 
/* HTML5 fix for older browsers */
header, section, nav, footer {display: block;}

div#siteContainer {
	margin: 0 auto;
	width: 700px;
}

/* Header */
header#siteHeader {float: left; width: 100%;}
header#siteHeader nav {width: 100%;}
header#siteHeader h1 {margin-bottom: 0;}

/* Nav */
nav {float: left;}
nav ul {
	list-style: none;
	padding: 0;
}
nav ul li {
	float: left;
	padding: 0 5px;
}

nav ul#mainNav {float: left;}
nav ul#mainNav li {
	font: 100% verdana,arial,sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	height: 48px;
	width: 84px;
}
nav ul#mainNav li.home {background-image: url(/static/images/home-red.png);}
nav ul#mainNav li.ideas {background-image: url(/static/images/ideas-light-on.png);}
nav ul#mainNav li.users {background-image: url(/static/images/users-person.png);}
nav ul#mainNav li a {
	float: right;
	padding-top: 16px;
	text-decoration: none;
	color: #A00000;
}
nav ul#mainNav li a:hover {text-decoration: underline;}

nav ul#loginNav {float:right;}
nav ul#loginNav li {
	font: 100% verdana,arial,sans-serif;
	font-size: 16px;
	background-repeat: no-repeat;
	height: 48px;
	width: 64px;
}
nav ul#loginNav li a {
	float: right;
	padding-top: 16px;
	text-decoration: none;
	color: #A00000;
}
nav ul#loginNav li a:hover {text-decoration: underline;}

/* Main Content */
div#contentContainer {clear: both;}




#topbar {
	width: 100%;
	padding: 0;
	background-image:url('gradient.jpg');
	background-repeat:repeat-x;
}

body {
	min-width:800px;
	margin: 0;
}

#navigation {
	margin: 0 1em;
	text-align: left;
}

#user {
	position: absolute;
	right: 0;
	margin: 0 1em;
}

#container {
	padding-right: 400px;
	margin: 1em;
}

#container .column{
	position: relative;
	float: left;
}

#left {
	width: 100%;
}

/* Layout for side widgets */
#right {
	width: 400px;
	margin-right: -400px;
}
#right .sidebar{
	margin: 0 1em;
}

.idealist a {
	color: black;
	text-decoration: none;
}

.ideablock{
	padding: 1em;
	margin: 0 0 -1px 0;
	border: solid 1px;
}

.ideablock .members{
	float: left;
	font-weight: bold;
	font-size: 2em;
}

.ideablock .bar {
	float: left;
	margin: 0 1em;
	width: 80%;
}

.titleBlock {
	border: 1px;
}

.progBar {
	width: 100%;
	border: solid 1px;
}

.ideablock .tagBlock {
	float: left;
	border: 1px;
	list-style-type: none;
	padding: 0;
}

#footer {
	clear: both;
}

.idealist {
	list-style-type: none;
	padding: 0;
	margin: 0 2em;
}

.clear {
	clear: both;
}