#topbar {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	text-align: right;
	background-image:url('gradient.jpg');
	background-repeat:repeat-x;
}

#user {
	width:100%
	position: absolute;
	right: 1em;
}

#container {
	width: 1000px;
	margin: 0 auto;
}

/* Layout for side widgets */
#rswidgets {
	width: 240px;
	float: right;
	padding: 5px;
}

#lsWidgets {
	width: 240px;
	float: left
	padding: 5px;
}

/* Styles and layout for central idea widget */
#ideaWidgets {
	width: 480px;
	float: center;
	padding: 5px;
}
