{% extends "main.html" %}
{% load comments %}

{% block title %}{{ object.short_name|title }}{% endblock %}

{% block content %}
<h2>{{ object.short_name|title }}</h2>
<table>
  <tr>
	<th>Owner:</th>
	<td><a href="{% url user_detail object.owner.user.id %}">{{ object.owner }}</a></td>
  </tr>
  <tr>
	<th>Created:</th>
	<td>{{ object.created_at }}</td>
  </tr>
  <tr>
	<th>Current Members:</th>
	<td>{{ object.members.all.count }}</td>
  </tr>
</table>
{% if user.get_profile == object.owner %}

{% with object.unconfirmed_members as object_list %}
{% with True as edit %}
{% include 'auth/user_table.html' %}
{% endwith %}{% endwith %}

{% else %}

{% if not user.get_profile in object.members.all %}
<form method = "post" action = "{% url user_join_idea object.pk %}">
  {% csrf_token %}
  <input type = "submit" value = "Join Project" />
</form>
{% else %}
<form method = "post" action = "{% url user_leave_idea object.pk %}">
  {% csrf_token %}
  <input type = "submit" value = "Leave Project" />
</form>
{% endif %}

{% endif %}

{% render_comment_list for object %}
{% if user.is_authenticated %}
{% render_comment_form for object %}
{% endif %}
{% endblock %}
