{% extends 'main.html' %}

{% block title %}Add Idea{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="static/css/textboxlist/TextboxList.css" />
<link rel="stylesheet" type="text/css" href="static/css/textboxlist/TextboxList.Autocomplete.css" />

<script type="text/javascript" src="/static/js/textboxlist/GrowingInput.js"></script>
<script type="text/javascript" src="/static/js/textboxlist/TextboxList.js"></script>
<script type="text/javascript" src="/static/js/textboxlist/TextboxList.Autocomplete.js"></script>
{% endblock %}

{% block content %}
{% if errors %}
<div>{{ errors }}</div>
{% endif %}
<form action="" method="post">
  <table>
	{{ form.as_table }}
  </table>
  {% csrf_token %}
  <input type="submit" value="Create Idea">
</form>
{% endblock %}
