{% extends "main.html" %}
{% load comments %}

{% block title %}{{ object.short_name|title }}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/ideaEdit.css" />
<link rel="stylesheet" type="text/css" href="/static/css/textboxlist/TextboxList.css" />
<link rel="stylesheet" type="text/css" href="/static/css/textboxlist/TextboxList.Autocomplete.css" />

<script type="text/javascript" src="/static/js/textboxlist/GrowingInput.js"></script>
<script type="text/javascript" src="/static/js/textboxlist/TextboxList.js"></script>
<script type="text/javascript" src="/static/js/textboxlist/TextboxList.Autocomplete.js"></script>
<script type="text/javascript" src="/static/js/tagInput.js"></script>
{% endblock %}

{% block content %}
{% if form %}
<form action="{% url idea_update object.pk %}" method="post">
	<fieldset>
		<legend>Edit Your Idea</legend>
		{{ form.as_p }}
	</fieldset>
	{% csrf_token %}
	<input type="submit" value="Update Idea">
</form>
{% else %}
<h2>{{ object.short_name|title }}</h2>
<table>
	<tr>
		<th>Owner:</th>
		<td><a href="{% url user_detail object.owner.user.id %}">{{ object.owner }}</a></td>
	</tr>
	<tr>
		<th>Created:</th>
		<td>{{ object.created_at }}</td>
	</tr>
	<tr>
		<th>Tags:</th>
		<td><ul>{{ object.tags.all|unordered_list }}</ul></td>
	</tr>
	<tr>
		<th>Current Members:</th>
		<td>{{ object.members.all.count }}</td>
	</tr>
</table>
{% endif %}

{% if can_delete %}
<form action="{% url idea_destroy object.pk %}" method="post">
	{% csrf_token %}
	<input type="submit" value="Delete Idea">
</form>
{% endif %}

{% if form %}
{% with object.members.all as object_list %}
{% with True as edit %}
{% if object_list %}
<table>
  <tr>
	<th>pk</th>
	<th>username</th>
	<th>first_name</th>
	<th>last_name</th>
	<th>email</th>
	<th>is_staff</th>
	<th>is_active</th>
	<th>is_superuser</th>
	<th>last_login</th>
	<th>date_joined</th>
  </tr>
  {% for obj in object_list %}
  <tr>
	<td>{{ obj.pk }}</td>
	<td>{{ obj.username }}</td>
	<td>{{ obj.first_name }}</td>
	<td>{{ obj.last_name }}</td>
	<td>{{ obj.email }}</td>
	<td>{{ obj.is_staff }}</td>
	<td>{{ obj.is_active }}</td>
	<td>{{ obj.is_superuser }}</td>
	<td>{{ obj.last_login }}</td>
	<td>{{ obj.date_joined }}</td>
	{% if obj.get_profile in object.uncomfirmed_members %}
	<td>
	<form method="post" action="{% url idea_confirm_member object.pk %}">
	  <input type="hidden" value="{{ obj.pk }}" name="user_pk" />
	  {% csrf_token %}
	  <input type="submit" value="Confirm Member" />
	</form>
	{% endif %}
  </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>{{ emptymessage|default:'No Users' }}</p>
{% endif %}
{% endwith %}{% endwith %}
{% endif %}

{% if not user.get_profile in object.members.all and not user.get_profile == object.owner %}
<form method = "post" action = "{% url user_join_idea object.pk %}">
	{% csrf_token %}
	<input type = "submit" value = "Join Project" />
</form>
{% else %}
{% if not user.get_profile == object.owner %}
<form method = "post" action = "{% url user_leave_idea object.pk %}">
	{% csrf_token %}
	<input type = "submit" value = "Leave Project" />
</form>
{% endif %}
{% endif %}

<h3>Description</h3>
<p>{{ object.desc }}</p>

<h3>Images</h3>
{% if object.images %}
{% for img in object.images.all %}
<p><a href="{{ img.get_absolute_url }}"><img src="{{ img.get_absolute_url }}"/></a></p>
{% endfor %}
{% else %}
<p>No images uploaded.</p>
{% endif %}

{% if form %}
<a href="{% url image_upload object.pk %}">Upload an image</a>
{% endif %}

<h3>Comments</h3>
{% render_comment_list for object %}
{% if user.is_authenticated %}
{% render_comment_form for object %}
{% endif %}
{% endblock %}
