{% load comments %}

{% if object_list %}
<ul class="idealist">
  {% for idea in object_list %}
  <li>
	<div class="ideablock">
      <div class="members">{{ idea.members.all.count }}</div>
	  <div class="bar">
		<div class="titleBlock">{{ idea.short_name|title }}</div>
		<div class="progBar">Progress: </div>
	  </div>
	  <div class="tagBlock">Tags:
		{{ idea.tags.all|unordered_list }}
	  </div>
	  <div class="clear"></div>
	</div>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>{{ emptymessage|default:'No Ideas' }}</p>
{% endif %}
