{% extends "main.html" %}
{% load comments %}

{% block title %}Ideas{% endblock %}

{% block content %}
<table>
  <tr>
	<th>id</th>
	<th>owner</th>
	<th>short_name</th>
	<th>desc</th>
	<th>tags</th>
	<th>created_at</th>
	<th>updated_at</th>
	<th>members</th>
	<th>comments</th>
  </tr>
  {% for idea in object_list %}
  <tr>
	<td><a href='/ideas/{{ idea.id }}'>{{ idea.id }}</a></td>
	<td><a href='/users/{{ idea.owner.id }}'>{{ idea.owner }}</a></td>
	<td><a href='/ideas/{{ idea.id }}'>{{ idea.short_name }}</a></td>
	<td>{{ idea.desc }}</td>
	<td>{% for tag in idea.tags.all %}
	  <a href='/tags/{{ tag.id }}'>{{ tag }}</a> 
	{% endfor %}</td>
	<td>{{ idea.created_at }}</td>
	<td>{{ idea.updated_at }}</td>
	<td>{% for user in idea.members.all %}
	  <a href='/users/{{ user.id }}'>{{ user }}</a> 
	{% endfor %}</td>
	<td>{% get_comment_count for idea as comment_count %}{{ comment_count }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
