{% extends "main.html" %}

{% block title %}Ideamine{% endblock %}

{% block content %}
<h2>What is IdeaMine?</h2>
<p>
Have you ever had an idea, but not been able to get enough interested people
to help you bring it to life? Or maybe you've wanted to work on a project, but
weren't able to find one that piqued your curiosity and interests enough to be
worthwhile? IdeaMine is here to help!
</p>
<p>
IdeaMine is a web application designed to help people with ideas generate
interest in their project, find members to work along side them, work through
the early planning stages of the project, and ultimately launch the idea into
a full fledged project. IdeaMine was built with software projects in mind, but
the concepts can be applied anywhere&mdash;with IdeaMine, any idea can become
a fully functional and coordinated project in next to no time.
</p>
<h2>How do I use IdeaMine?</h2>
<p>
It's simple! Look up. See the register link at the top? (If not, you might
already be logged in, silly). Just click that and create an account. It's very
straightforward&mdash;all you need is a username and password (we aren't fans
of being asked for email, credit card, social security number, and the price
of your soul either). Once you have an account, you can click the Ideas link
at the top of the page to browse existing ideas or launch your own.
</p>
<h2>So who made IdeaMine anyway?</h2>
<p>
IdeaMine is a project by a few members of the Special Interest Group for
Software Development (SIGSoft), a part of the Association for Computing Machinery
(ACM) at the University of Illinois at Urbana-Champaign. Our group specifically
consisted of Computer Science majors in their first year here at U of I. We're
an awesome and dedicated group of programmers, artists, designers, and dreamers
who are thrilled to be presenting this project today.
</p>
<p>
IdeaMine was the product of a ton of hard work and dedication, not to mention a
few late nights and a lot of caffeine and pizza. We hope our care and enthusiasm
shows in our final product. If you have any questions about IdeaMine, feel free
to ask. After all, this is EOH. At least one of us is standing right in front of
you.
</p>
{% endblock %}
