<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/ideamine.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/jquery-1.5.1.min.js"></script>
	{% block head %}{% endblock %}
  </head>
  <body>
    <div id="topbar">
	  <span id="navigation">
        <a href="{% url main.views.index %}">Home</a>
        <a href="{% url idea_list %}">Ideas</a>
        <a href="{% url user_list %}">Users</a>
      </span>
      <span id="user">
        {% if user.is_authenticated %}
        Logged in as: <a href="{% url user_detail user.id %}">{{ user.username }}</a> <a href="{% url logout %}">Logout</a>
        {% else %}
        <a href="{% url user_create %}">Register</a> <a href="{% url login %}">Login</a>
        {% endif %}
      </span>
    </div>
    <div id="container">
      <div id="left" class="column">
        <p>Main content</p>
        {% block content %}{% endblock %}
      </div>
      <div id="right" class="column">
        <div class="sidebar">
          <p>Right side<p>
          {% block sidebar %}{% endblock %}
        </div>
      </div>
    </div>
    <div id ="footer">
    </div>
  </body>
</html>
