<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/jquery-1.5.1.min.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <div id="siteContainer">
    	<header id="siteHeader">
    		<h1>Idea Mine</h1>
<!--     		<button>Contact Us!</button> -->
    		<nav>
    			<ul id="mainNav">
    				<li class="home"><a href="{% url main.views.index %}">Home</a></li>
    				<li class="ideas"><a href="{% url idea_list %}">Ideas</a></li>
    				<li class="users"><a href="{% url user_list %}">Users</a></li>
    			</ul>
    			<ul id="loginNav">
    				{% if user.is_authenticated %}
    					<li><a href="{% url user_detail user.id %}">{{ user.username }}</a></li>
    					<li><a href="{% url logout %}">Logout</a></li>
    				{% else %}
    					<li><a href="{% url user_create %}">Register</a></li>
    					<li><a href="{% url login %}">Login</a></li>
    				{% endif %}
    			</ul>
    		</nav>
    	</header>
    	
    	<div id="contentContainer">
	    	<div id="left" class="column">
	    		<p>Main content</p>
	    		{% block content %}{% endblock %}
	    	</div>
	    	<div id="right" class="column">
	    		<div class="sidebar">
	    			<p>Right side<p>
	    			{% block sidebar %}{% endblock %}
	    		</div>
	    	</div>
    	</div>

		<footer id="siteFooter">
			<nav>
				<ul>
					<li>Link 1</li>
					<li>Link 2</li>
					<li>Link 3</li>
					<li>Link 4</li>
					<li>Link 5</li>
				</ul>
			</nav>
		</footer>
    </div>
</body>

</html>
