{% load comments i18n %}
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  <div><input type="hidden" name="next" value="{{ object.get_absolute_url }}" /></div>
  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% ifequal field.name "comment" %}
      <p>Comment {{ field }}</p>
      {% endifequal %}
    {% endif %}
  {% endfor %}
  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
  </p>
</form>
